# pacman-watch monitors Arch Linux updates for trouble
#   https://github.com/networkimprov/pacman-watch
#
# "pacman-watch-open.service" systemd service for pacman-watch-open
#
# Copyright 2014 by Liam Breck

[Unit]
Description=pacman watch open
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-watch-open

[Install]
WantedBy=multi-user.target
